.images-container {
  border: 2px dashed;
  min-height: 300px;
  img {
    width: 100px;
    margin: 10px;
  }
}

.baskets-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  .basket {
    background-color: #9eccfe;
    border-radius: 25px;
    padding: 20px;
    width: 40%;
  }
}
